.selectable.selected {
    /*border:0px solid black;*/
}
.selected_tab {
    /*border:0px solid #ff8a18 !important;*/
}
.selectable.droppedClass {background: #f90;}
.selected-field {

}
.lastClass,  .lastTabSelect {
    resize: both;

}
table {
    border-collapse: collapse;
    border:0;
}
.table {
    width: 96%;
    margin-bottom: 20px;
    margin-left: 20px;
}
table td{position:relative; border:0!important}
table td > div{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    border: 1px solid #ddd;
    border-right:0;
    border-bottom:0;
}
table tr td:last-child > div{
    border-right:1px solid #ddd;
}
table tr:last-child td > div{
    border-bottom:1px solid #ddd;
}
table.table-block tr td.selectable {
    height: 50px;
}
.selectable.selected > div{
    border:1px solid #000;
}

.selectable.selected.selected_tab > div {
    border:2px solid #ff8a18;
}
.selectable.selected.selected_tab.selected-field > div {
    border:2px solid #522fe6;
}
.selectable.selected.selected-field > div {
    border:2px solid #522fe6;
}
.selectable.selected.selected-aggregation > div {
    border:2px solid #7CFC00;
}
.selectable.selected.selected-fieldgroup > div {
    border:2px solid darkred;
}
.tabMark:before {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    left: -19px;
    top: 1px;
    z-index: 1;
    border-width: 5px 10px 5px 10px;
    border-style: solid;
    border-color: white transparent transparent white;
}
.tabMark:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    left: -19px;
    bottom: 1px;
    z-index: 1;
    border-width: 5px 10px 5px 10px;
    border-style: solid;
    border-color: transparent transparent white white;
}
.tabMark > div:before{
    content:"";
    position:absolute;
    background:#f90;
    width:20px;
    height:100%;
    left:-21px;
}
.tabMark > div:after{
    content:attr(data-label);
    position:absolute;
    width:20px;
    left:-21px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.fieldGroupMark:before {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    right: -21px;
    top: 1px;
    z-index: 1;
    border-width: 5px 10px 5px 10px;
    border-style: solid;
    border-color: white white transparent transparent;
}
.fieldGroupMark:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    right: -21px;
    bottom: 1px;
    z-index: 1;
    border-width: 5px 10px 5px 10px;
    border-style: solid;
    border-color: transparent white white transparent;
}
.fieldGroupMark > div:before{
    content:"";
    position:absolute;
    background:darkred;
    width:20px;
    height:100%;
    right:-23px;
}
.fieldGroupMark > div:after{
    content:attr(data-label);
    position:absolute;
    width:20px;
    right:-21px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.maxHeight {
    display: block;
    height: 362px;
    width: 95%;
    overflow-x: auto;
    padding: 0%;
}
.clearfix {
    clear: both;
}

.lvl-over {
    border: 1px dashed black !important;
}




div.drag_button {
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
}
div.drag_button:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}