.selectable.selected {
    background: #e9e9e9;
}

.selectable.droppedClass {
    background: #f90;
}

.lastClass,  .lastTabSelect {
    resize: both;
    overflow: auto;
}

table.table-block tr td.selectable {
    height: 50px;
}

.maxHeight {
    display: block;
    height: 362px;
    width: 95%;
    overflow-x: auto;
    padding: 0%;
}

.clearfix {
    clear: both;
}

.lvl-over {
    /* applied to a drop target when a draggable object is over it */
    border: 2px dashed black !important;
}

.selected_tab {
    background: #ADD8E6 !important;
}
.selected-field{
    background: #ffb3b3 !important;
}

.selected-tab-border {
    border:2px dashed #ffee5b !important;
}

